<div class="question">
  What do you need?
</div>
<div class="instruction">
  Try saying:
</div>
<div class="hint">
  <span>{{ isListening }}</span>
</div>

<span class="circle" id="first"></span>
<span class="circle" id="second"></span>
<span class="circle" id="third"></span>
<span class="circle" id="fourth"></span>
<div class="mic" [ngClass]="isListening" (click)="toggleVoiceRecognition()">
  <img
    class="mic-ic"
    [src]="
      isListening === 'active'
        ? 'assets/microphone_active.svg'
        : 'assets/microphone.svg'
    "
  />
</div>
