<div class="container">
  <div class="question">
    ¿Que necesitas?
  </div>
  <div class="instruction">
    Intenta diciendo:
  </div>
  <div class="hint">
    <span>{{ "¿Quien eres?" }}</span>
  </div>
  <div class="mic-container">
    <span class="circle" id="first"></span>
    <span class="circle" id="second"></span>
    <span class="circle" id="third"></span>
    <span class="circle" id="fourth"></span>
    <div class="mic" (click)="toggleVoiceRecognition()">
      <img class="mic-ic" [src]="'assets/microphone.svg'" />
    </div>
  </div>
</div>
