html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: "Montserrat";
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #2e0042 0%, rgba(132, 0, 255, 1) 100%)
    no-repeat center;
}

.mic {
  position: absolute;
  background: white;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mic.active{
  background-color: #2f0043;
}

.circle {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  bottom: 85px;
  height: 120px;
  width: 120px;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

#first {
  animation-delay: -3s;
}
#second {
  animation-delay: -2s;
}
#third {
  animation-delay: -1s;
}
#fourth {
  animation-delay: 0s;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.second {
  background: rgba(255, 255, 255, 0.3);
  bottom: 55px;
  height: 180px;
  width: 180px;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

.mic-ic {
  height: 38px;
  width: 38px;
}

.question {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  top: 150px;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.instruction {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  top: 250px;
  color: white;
  font-weight: 300;
  font-size: 12px;
}
.hint {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 70px;
  right: 70px;
  padding: 10px;
  top: 300px;
  border-radius: 5px;
  background-color: white;
  width: unset;
  display: inline;
  border: 1px solid #2e0042;
}
.hint span {
  color: #2e0042;
  font-weight: 600;
  font-size: 14px;
}
